
/analysis/workflow_structure/results/diff_commits_1.txt
/analysis/full_text/results/logs/
/analysis/clustering/vocabularies/
/analysis/operators/full_text_results/
/building_collections/github_api/token.txt
/db_operations/mongodb_user.txt
